/* Estils bàsics per a la nostra web */

body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #1F1E1F;
}

p {
  color: white;
}

h1 {
  color: #FD562B;
}

h2 {
  color: #675CC5;
}

a {
  color: #D8FF00;
}

img {
  border: 2px solid black;
}
